body {
  margin: 0;
}
header.main-header {
  background-color: #ffffff;
}
footer.footer {
  background-color: #ffffff;
  padding-top: 50px;
  justify-content: start;
}
div.card-deck {
  padding: 0px 50px 30px;
}
div.col-12 {
  background-color: #100cf1;
}
small {
  color: #100cf1;
  font-size: 100%;
}
div.social-media {
  margin-top: 50px;
}
div.contenedor {
  transform: scale(0.9);
  font-size: 1.2em;
}
.contenedor {
  overflow: hidden;
}
.contenedores {
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
}
button.navbar-toggler {
  border-color: #100cf1;
  background-color: #100cf1;
}
.navbar-nav .nav-link {
  color: #100cf1;
}
label {
  color: #ffffff;
  font-size: 25px;
}
.btn {
  color: #ffffff;
  font-size: 25px;
}
.btn-danger {
  color: #fff;
  font-size: 30px;
}
h4 {
  font-size: 1rem;
  margin: 10px 10px 10px;
}
h1 {
  color: #100cf1;
}
h {
  font-size: 23px;
}
.my-4 {
  margin-bottom: 1.8rem !important;
  background-color: #bdebf7;
}
img.carro {
  padding-top: 12px;
}
