body {
  margin: 0;
}
header.main-header {
  background-color: #ffffff;
}
footer.footer {
  background-color: #ffffff;
  padding-top: 50px;
  justify-content: start;
}
div.card-deck {
  padding: 0px 50px 30px;
}
div.col-12 {
  background-color: #100cf1;
}
small {
  color: #100cf1;
  font-size: 100%;
}
div.social-media {
  margin-top: 50px;
}
div.contenedor {
  transform: scale(0.9);
  font-size: 1.2em;
}
.contenedor {
  overflow: hidden;
}
.contenedores {
  margin-top: 3em;
  margin-left: 3em;
  margin-right: 3em;
}
button.navbar-toggler {
  border-color: #100cf1;
  background-color: #100cf1;
}
.navbar-nav .nav-link {
  color: #100cf1;
}
label {
  color: #ffffff;
  font-size: 25px;
}
.btn {
  color: #ffffff;
  font-size: 25px;
}
.btn-danger {
  color: #fff;
  font-size: 30px;
}
h4 {
  font-size: 1rem;
  margin: 10px 10px 10px;
}
h1 {
  color: #100cf1;
}
h {
  font-size: 23px;
}
.my-4 {
  margin-bottom: 1.8rem !important;
  background-color: #bdebf7;
}
img.carro {
  padding-top: 12px;
}
.d-block {
  padding-top: 2em;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  background: 200px;
  color: #007bff;
}
.mySlides {
  display: none;
  margin: 0px 80px 20px;
}
.prev {
  margin: 0px 80px 20px;
}
.next {
  margin: 0px 80px 20px;
}

/* Aqui empieza el codigo para el carousel de pa interfaz pago) */
* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container-pago {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
/* Aqui termina el codigo para el carousel de pa interfaz pago) */
